body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    background-image: url(/static/background_e.webp);
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}




.container {
    background: linear-gradient(145deg, #fffff0 0%, #ecfcfd 125%);
    padding: 20px;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 700px;
    width: auto;
    max-width: 95%;
}

.interview-form {
    max-width: 600px;
    margin: auto;
}

.question {
    margin-bottom: 20px;
}

.question p {
    font-size: 26px;
    color: #333;
}

.submit-btn button {
    padding: 12px 12px;
    width: auto;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: #dffdff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
}

.question label {
    display: block;
    margin-bottom: 14px;
}

.radio-option {
    display: block;
    margin-bottom: 10px;
}

.submit-btn {
    margin-top: 24px;
    font-size: 26px;
}


input[type="radio"]:checked {
    accent-color: #0b57d0;
}

.error {
    color: rgb(255, 0, 106);
    display: none;
    margin-top: 24px;
}

button:hover {
    background-color: #b1dbdb;
}

.circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(216, 216, 216);
    margin-right: 5px;
}

.circle.answered {
    background-color: rgb(103, 255, 179);
}
