body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.interview-form {
    max-width: 600px;
    margin: auto;
}

.question {
    margin-bottom: 20px;
}

.question p {
    font-size: 16px;
    color: #333;
}

.submit-btn button {
    padding: 12px 12px;
    width: auto;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    display: inline-block;
}

.question label {
    display: block;
    margin-bottom: 14px;
}

.radio-option {
    display: block;
    margin-bottom: 10px;
}

.submit-btn {
    margin-top: 24px;
}


input[type="radio"]:checked {
    accent-color: #272727;
}

.error {
    color: rgb(255, 0, 106);
    display: none;
    margin-top: 24px;
}

button:hover {
    background-color: #39ab87;
}

.dark-mode {
    background-color: #272727;
    color: white;
}

.dark-mode .container{
    background-color: #2e2e2e;
    color: white;
}

.dark-mode p{
    color: white;
}

.dark-mode input[type="radio"]:checked {
    accent-color: #39ab87;
}


.dark-mode button {
    background-color: #39ab87;
}

.dark-mode button:hover {
    background-color: #272727;
}

#theme-toggle {
    position: fixed;
    top: 10px;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    border: none;
    font-size: 24px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: #333;
}

.dark-mode #theme-toggle {
    color: #f3f3f3;
}

.moon, .sun {
    transition: transform 0.3s ease;
}

#theme-toggle.dark .moon,
#theme-toggle.light .sun {
    transform: rotate(-20deg);
}
